<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">

        <!-- used to add sub page styles (e.g., of user_profile.ejs) in head section -->
        <%- style %>
    </head>
    <body>

        <!-- used to include header partial -->
        <%- include('_header'); %>

        <main id="layout-main">
            <!-- used to put html (or ejs) of page templates -->
            <%- body %>
        </main>

        <%- include('_footer'); %>

        <!-- used to include footer partial -->
        <%- script %>

    </body>
</html>